{% extends "common/base-bootstrap.html" %}

{% load staticfiles %}


{% block content %}
<div class="container-fluid">
    <h3>Login in</h3>
    <form id="id_form_login" action="{% url 'accounts:user_add' %}"
        method="POST" class="form-horizontal" role="form">
        {% csrf_token %}
        <div class="errorlist nonfield">
            {{ form.non_field_errors }} 
        </div>
        {% for field in form %}
        <div class="form-group">
            <label class="col-sm-3 control-label" for="{{ field.id_for_label
                }}">{{ field.label_tag }}</label>
            <div class="col-sm-9">
                {% if field.errors %}
                <ol>
                    {% for error in field.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                </ol>
                {% endif %}
                {{ field }}
                {{ field.help_text }}
            </div><!-- class="col-sm-9"-->
        </div><!-- class="form-group" -->
        {% endfor %}
    </form>

</div><!-- class="container-fluid" -->
{% endblock %}
